$mainFontSize: 14px;
$mainFontFamily: Open Sans;
$articleFontFamily: Open Sans;
$mainLinkColor: #000;
$linkColor: #000;

/* headers */
$headerColor: #0d6386;
$headerColor2: #ffc815;
$bgColorAlpha: rgba(13,99,134,0.5);
$colorMain: #01b702;

$mainLinkHoverColor: #fff !default;  
$mainLinkHoverBackgroundColor: #000 !default;

$bodyClassRWD: ".responsive.rwd";
$bodyClassTABLET: ".tablet";
$bodyClassDESK: ".desk";

$colorText: #fff;
$colorBackBtn: #000;
$smallFontSizeBtn: 12px;

$mainCOlor: red;