

$imgPath: 'https://bi.gazeta.pl/i/obrazki/storytelling/audi2018/';

//$sample: url('#{$imgPath}ren-audi2018-pin-slider-button.png');

$imgSliderNavButton: url('https://bi.gazeta.pl/im/9/24365/m24365889,REN-BAKOMA2018-SLIDER-ARROW.png');
$imgNavArtIcon: url('https://bi.gazeta.pl/im/4/24264/m24264404,REN-AUDI2018-NAV-ICON.png');
$imgNavArtIconActive: url('https://bi.gazeta.pl/im/3/24264/m24264393,REN-AUDI2018-NAV-ICON-ACTIVE.png');
$imgContentBg: url('https://bi.gazeta.pl/im/8/24539/m24539528,REN-CCC-2019-SUPEL.png');
$imgContentBgMobile: url('https://bi.gazeta.pl/im/0/24546/m24546740,REN-CCC-2019-LUR-MOBILE.png');
$imgContentBgRevert: url('https://bi.gazeta.pl/im/1/24540/m24540401,REN-CCC-2019-LURE-LEFT.png');
$imgContentBgRevertMobile: url('https://bi.gazeta.pl/im/1/24546/m24546741,REN-CCC-2019-LUR-MOBILE-LEFT.png');
$imgSliderNavButton: url('https://bi.gazeta.pl/im/5/24543/m24543415,REN-CCC-2019-SLIDER-NAV-BUTTON.png');
$imgSliderNavDot: url('https://bi.gazeta.pl/im/9/24585/m24585489,REN-NESTLE-2019-SLIDER-DOT.png');
$imgSliderNavDotActive: url('https://bi.gazeta.pl/im/7/24585/m24585487,REN-NESTLE-2019-DOT-ACTIVE.png');
$imgSliderBorderBg: url('https://bi.gazeta.pl/im/3/24619/m24619893,REN-NESTLE-2019-PARTNER-BORDER-V4.png');
$imgSliderBorderBgMobile: url('https://bi.gazeta.pl/im/2/24619/m24619892,REN-NESTLE-2019-PARTNER-BORDER-V4-MOBILE.png');
$imgPartnersButtonBg: url('https://bi.gazeta.pl/im/3/24604/m24604873,REN-NESTLE-2019-SLIDER-BUTTON-BG.png');
$imgArtBgLeft: url('https://bi.gazeta.pl/im/7/24645/m24645517,REN-NESTLE-2019-ART-BG-LEFT.png');
$imgArtBgRight: url('https://bi.gazeta.pl/im/8/24645/m24645518,REN-NESTLE-2019-ART-BG-RIGHT.png');
$imgArtSliderBg: url('https://bi.gazeta.pl/im/3/24673/m24673053,REN-NESTLE-2019-SLIDER-BORDERV4.png');

$imgNavButton: url('https://bi.gazeta.pl/im/6/24803/m24803496,REN-NESTLE-2019-DROP-BUTTON.png');
$imgNavButtonActive: url('https://bi.gazeta.pl/im/7/24803/m24803497,REN-NESTLE-2019-DROP-BUTTON-ACTIVE.png');
$imgNavButtonHome: url('https://bi.gazeta.pl/im/8/24803/m24803498,REN-NESTLE-2019-DROP-BUTTON-HOME.png');
$imgNavButtonHomeActive: url('https://bi.gazeta.pl/im/9/24803/m24803499,REN-NESTLE-2019-DROP-HOME-ACTIVE.png');